.btn {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  &_radius {
    padding: 15px 0;
    width: 240px;
    //background-color: aqua;
    border: 2px solid white;
    border-radius: 50px;
    &:not(:last-of-type) {
      margin-right: 20px;
    }
  }
  &:hover {
    background-color: $btn-hover;
    border: 2px solid transparent;
  }
}