.section_welcome {
  background-size: cover;
  background-position: center center;

  //todo как сделать затемненный оверлэй? просто добавить фон с картинкой?
}

.section_features {
  color: $text-gray;
}
