li,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-size: normal;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  //font
  font-family: "Open Sans";
  font-size: 14px;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.section {
  //TODO почему не появляется новая секция?????!
  height: 100%;
  min-height: 650px;
  display: flex;
  //@include tablets {
  //  min-height: initial;
  //}
}

.wrapper {
  //overflow: hidden;
  height: 100%;
  width: 100%;
}

.container {
  width: 1140px;
  margin: auto;
  height: 100%;
}